// Variables
/* Are placeholders for storing information that you want to reuse throughout your styles. 
You can store things like colours, font-stacks, or any css value you think you might want to reuse. SCSS uses the $ symbol to declare variable */


//Colours
$primary: #F04C68;
$secondary: #fff;

//Font Stacks
$helvetica: Helvetica, Arial, sans-serif;