// Mixins

@mixin button($bg-color, $hover-color, $text-color){
	background-color: $primary;
	color: $text-color;
	padding: 0.5em 1em;
	border-radius: 3px;
	margin: 1em;
	display: inline-block;
	text-decoration: none;
	transition: all 150ms ease-in-out;
	// Reference the parent selector using &
	&:hover{
		background-color: $hover-color;
	}
}

@mixin button($bg-color, $hover-color, $text-color){
	display:block;
	padding:0.75em;
	margin:0.75em;
	background-color: #F04C68;
	font-size: 120%;
	color: #FFF;
	text-align: center;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
	