// Main

body{
	font-family: $helvetica;
}

body{
	font-family: sans-serif;
}

h1{
	text-align: center;
	color: $primary;
}

ul a{
	text-decoration: none;
}

ul{
	@include center-div($secondary)
}

i{
	font-size: 150%;
}

li{
	@include button($primary, $secondary, $primary, $primary);
}