// Main

body{
	font-family: $helvetica;
}

body{
	font-family: sans-serif;
}

h1{
	text-align: center;
	color: $primary;
}

ul a{
	text-decoration: none;
}

ul{
	list-style-type: none;
	padding:0;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-width: 300px;
}

i{
	font-size: 150%;
}

li{
	@include button($primary, $secondary, $primary);
}

/*
.primary-btn{
	@include button($primary, $primary-dark, #fff);
}

.secondary-btn{
	@include button($secondary, $secondary-dark, #fff);
}

.border{
	border: 1px solid #ccc;
// You can choose elements/selectors to target
	p{
		color: green;
	}
}

ul{
	@extend .border;
}