// Main

body{
	background-color: $secondary;
	font-family: $helvetica;
}

.button{
	@include button($primary, $secondary, #fff);
}

.primary-btn{
	@include button($primary, $primary-dark, #fff);
}

.secondary-btn{
	@include button($secondary, $secondary-dark, #fff);
}

.border{
	border: 1px solid #ccc;
// You can choose elements/selectors to target
	p{
		color: green;
	}
}

ul{
	@extend .border;
}